body{ 
  padding-top: 60px; 
}

span {
    display: inline-block;
}

.line-height {
    line-height: 3rem;
}

@media screen and (max-width: 720px){
.none {display:none}
}

@media screen and (min-width: 720px){
.appear {display:none}
}

/*ロゴ*/
.logo {
    font-family: 'Raleway', sans-serif;
}

/*アクセントカラー*/
.color {
    color: #f15922;
}

.color:hover {
    color: #f15922;
}

.btn-color {
    color: #fff !important;
    border-color: #f15922 !important;
    background-color: #f15922 !important;
}

.btn-color:hover {
    color: #fff !important;
    background-color: #e0531f !important;
    border-color: #e0531f !important;
}

.btn-outline-color {
    color: #f15922 !important;
    border-color: #f15922 !important;
}

.btn-outline-color:hover {
    color: #fff !important;
    border-color: #f15922 !important;
    background-color: #f15922 !important;
}

/*ログイン画面*/
.upload-label input {
  display: none;
}

.inner{
    min-width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.social-login {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}

.social-login > span {
    line-height: 20px;
    background-color: #e9ecef;
    display: inline-block;
    margin: 0 -25%;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 50%;
}

/*プロフィール画像*/
.resize-circle {
    width: 150px;
    height: 150px;
	object-fit: cover;
	border-radius:50%;
}

.resize-circle-show {
    width: 64px;
    height: 64px;
	object-fit: cover;
	border-radius:50%;
}

.resize-circle-index {
    width: 2.8rem;
    height: 2.8rem;
	object-fit: cover;
	border-radius:50%;
}

/*コーディネート画像*/
.resize {
    width: 250px;
    height: 400px;
    object-fit: cover;
}

.resize-show {
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
}

/*bootstrap4編集*/
.dropdown-item:active {
    background-color: #6c757d !important;
}

*:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.link:hover {
    text-decoration:none !important;
    opacity: 0.7 !important;
}

.card-header {
    background-color: #fff !important;
    padding : 0.1rem !important;
}

.card-footer {
    background-color: #fff !important;
}

.nav-link.active {
    background-color: #6c757d !important;
}

.form-control {
    border: none !important;
}

/*上へ戻るボタン*/
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #212529;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #212529;
}